<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="/static/styles.css">
</head>
<body>    
    <div id="round-info" class="round-info">
        <span id="currentPhase">N/A</span>
        <span id="timeRemaining">00:00</span>
    </div>
    <h1 class="title">Econ Game: Constitution Compromise</h1>
    <p class="container1">
        Its 1787; 2-7 delegates from each of the 13 colonies are meeting at a privately held convention in Philadelphia known
        as the Constitutional Convention. The purpose of this meeting is to create a new system of government for the US by drafting
        a constitution. Groups of 2 people from this class will each represent a state. Because of different demographics - population,
        slave count, access to certain materials - the states have differing opinions regarding each policy. The goal of this convention
        is to eventually compromise on 5 key policies: representation, slaves’ right to vote, taxation, trade regulation, and slavery. A
        description of your state’s condition coming into this meeting is outlined in a blurb. Based on your description, you need to 
        decide on your preferences regarding these policies. Of course, there will be disagreement. In order to create a constitution
        beneficial to the greater United States, you will need to find compromises. In order for a policy to be passed, everyone needs 
        to agree on the compromise. Some states may benefit more than others regarding certain policies; these states will gain more points. 
        At the end of the game, if a constitution is not decided on, everyone will receive a collective failure. If everyone does decide
        on a constitution, the states that benefit the most will win.
    </p>

    <div id="buttons-container">
        <div id="New York" class="state-button">
            <img src="/static/images/New_York.png" alt="New York" class="state-image">

            <a href="/ny">
                <button>New York</button>
            </a>
        </div>
        <div id="Massachusetts" class="state-button">
            <img src="/static/images/Massachussetts.png" alt="Massachusetts" class="state-image">

            <a href="/ma">
                <button>Massachusetts</button>
            </a>
        </div>
        <div id="Pennsylvania" class="state-button">
            <img src="/static/images/Pennsylvania.png" alt="Pennsylvania" class="state-image">

            <a href="/pa">
                <button>Pennsylvania</button>
            </a>
        </div>
        <div id="Virginia" class="state-button">
            <img src="/static/images/Virginia.png" alt="Virginia" class="state-image">

            <a href="/va">
                <button>Virginia</button>
            </a>
        </div>
        <div id="South Carolina" class="state-button">
            <img src="/static/images/South_Carolina.png" alt="South Carolina" class="state-image">

            <a href="/sc">
                <button>S. Carolina</button>
            </a>
        </div>
        <div id="Georgia" class="state-button">
            <img src="/static/images/Georgia.png" alt="Georgia" class="state-image">

            <a href="ga">
                <button>Georgia</button>
            </a>
        </div>
    </div>

    <button id="adminMenuButton" class="admin-menu-button">Admin Menu</button>

    <div id="passwordPrompt" class="password-prompt" style="display: none;">
        <input type="password" id="adminPassword" placeholder="Enter Password">
        <button id="submitPasswordButton">Submit</button>
        <button id="closePasswordPromptButton">X</button>
    </div>

    <div id="adminMenu" class="admin-menu" style="display: none;">
        <button id="beginRound1Button" class="begin-round-button">Begin Round 1</button>
        <button id="beginRound2Button" class="begin-round-button">Begin Round 2</button>
        <button id="beginRound3Button" class="begin-round-button">Begin Round 3</button>
        <button id="beginRound4Button" class="begin-round-button">Begin Round 4</button>
        <button id="submitAgreementButton" class="begin-round-button">Submit Agreement</button>
        <button id="pauseButton" class="pause-button">Pause</button>
        <button class="close-admin-menu-button">X</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="/static/js/home.js"></script>
</body>
</html>
