<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="/static/styles.css">
    <title>Test</title>
</head>
    <body>
        <div id="round-info" class="round-info">
            <span id="currentPhase">N/A</span>
            <span id="timeRemaining">00:00</span>
        </div>
        <h1 class="title" id="stateName">If you're seeing this something went wrong</h1>
        <p>
            {{blurb}}
        </p>
        <br>
        <table id="dataTable">
            {% for row in data %}
            <tr>
                {% if loop.first %}
                    <th></th>
                    {% for item in row %}
                    <th>{{ item }}</th>
                    {% endfor %}
                {% else %}
                    <th>R{{ loop.index - 1 }}</th>
                    {% for item in row %}
                    <td>{{ item }}</td>
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>

        <div class="agreement-box">
            <textarea id="agreementBox" placeholder="Begin drafting your agreement here" class="agreement"></textarea>
            <button class="approveButton" id="approveButton" onclick="approveFunction('{{state}}')">Approve</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
        <script src="/static/js/state.js"></script>
        <script>
            $(document).ready(function() {
                loadStateTitle("{{state}}");
            });
        </script>
    </body>
</html>