<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="/static/styles.css">
    <title>{{state}}</title>
</head>
    <body>
        <h1 class="title">{{state}}</h1>
        <p>
            {{blurb}}
        </p>
        <br>
        <table>
            {% for row in data %}
            <tr>
                {% if loop.first %}
                    {% for item in row %}
                    <th>{{ item }}</th>
                    {% endfor %}
                {% else %}
                    {% for item in row %}
                    <td>{{ item }}</td>
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>

        <div class="agreement-box">
            <textarea id="agreementBox" placeholder="Begin drafting your agreement here" class="agreement"></textarea>
            <button class="approveButton" id="approveButton">Approve</button>
        </div>
        <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
        <script src="/static/js/app.js"></script> 
    </body>
</html>